.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    border: 1px solid var(--fg-color);
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
    margin: 0.4rem 0.4rem;

    cursor: pointer;
}

.task.selected {
    border: 1px solid var(--accent-color);
}

.task button {
    visibility: hidden;
}

.task button svg {
    stroke: var(--accent-color);
}

.task:hover button {
    visibility: visible;
    cursor: pointer;
}

.task .task-content {
    display: flex;
    align-items: center;
}

.task input {
    margin-right: 0.8rem;
}

.task:hover {
    color: var(--accent-color);
}

.task.done {
    text-decoration: line-through;
}

.task-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.2rem;
}

.task .line-two {
    font-size: small;
    height: 1rem;
    color: var(--fg-secondary-color);
}

.task .line-two.overdue {
    color: var(--accent-color);
}
