.header {
    color: var(--accent-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .btn-theme {
    display: flex;
    padding: .2rem;
    border: 1px solid var(--accent-color);
    border-radius: .2rem;
    cursor: pointer;
}

.header .btn-theme:hover {
    transform: scale(0.96);
}