.filterPanel {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0.4rem;
}

.filterPanel ul {
    padding: 0.4rem 1rem;
}

.filterPanel li {
    padding: 0.4rem 0;
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}

.filterPanel li:hover {
    color: var(--accent-color);
}

.filterPanel li span {
    stroke: var(--fg-color);
    margin-right: 0.6rem;
}

.filterPanel li.selected svg {
    stroke: var(--accent-color);
}
